<div class="container">
  <div class="col-md-12">
    <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Today</a></li>
        <li><a href="#">Yesterday</a></li>
        <li><a href="#">Yesteryear</a></li>
        <li><a href="#">Da Fuuuuuture</a></li>
      </ul>
    </nav>
    {{outlet}}
  </div>
</div>
