<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">Today</a></li>
      <li><a href="#">Yesterday</a></li>
      <li><a href="#">Yesteryear</a></li>
      <li><a href="#">Da Fuuuuuture</a></li>
    </ul>
  </nav>
  <div id="myCarousel" class="carousel slide">

    <p>
      <button type="button" class="btn-default btn-lg carousel-btn left-btn" {{action 'slideLeft'}}>
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </button>
      <img src="http://i.ytimg.com/vi/II1wEGje7m8/maxresdefault.jpg" alt="people in the fields" class="img-responsive center-block carousel-img" id='slide0'/>
      <img src="http://www.newyorkfamily.com/wp-content/uploads/2013/07/Moreys-Piers-Waterparks-2-1024x726.jpg" class="img-responsive center-block carousel-img" id='slide1'>
      <img src="http://goodlifepermaculture.com.au/wp-content/uploads/2014/11/carrot-fest.jpg" class="img-responsive center-block carousel-img" id='slide2'>
      <button type="button" class="btn-default btn-lg carousel-btn right-btn" {{action 'slideRight'}}>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </button>
    </p>
  </div>
  {{outlet}}
</div>
