<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">Today</a></li>
      <li><a href="#">Yesterday</a></li>
      <li><a href="#">Yesteryear</a></li>
      <li><a href="#">Da Fuuuuuture</a></li>
    </ul>
  </nav>
  <div id="myCarousel" class="carousel slide">

    <p>
      <div class="img-responsive center-block carousel-img ratio-4-3" id='slide0'></div>
      <div class="img-responsive center-block carousel-img ratio-4-3" id='slide1'></div>
      <div class="img-responsive center-block carousel-img ratio-4-3" id='slide2'></div>
      <button type="button" class="btn-default btn-lg carousel-btn left-btn" {{action 'slideLeft'}}>
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn-default btn-lg carousel-btn right-btn" {{action 'slideRight'}}>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </button>
    </p>
  </div>
  {{outlet}}
</div>
