<div class="row">

  <div class="col-md-6">
    <div class="story center-block">
      {{#link-to '1'}}<img src="http://lorempixel.com/output/nature-q-c-301-298-2.jpg" class="img-responsive" />{{/link-to}}
      <h3><span>Your Perfect Vacation</span></h3>
    </div>
  </div>

  <div class="col-md-6">
    <div class="story center-block">
      {{#link-to 'food'}}<img src="http://lorempixel.com/output/food-q-c-301-298-6.jpg" class="img-responsive" />{{/link-to}}
      <h3><span>Good food stuff</span></h3>
    </div>
  </div>
</div>

<br>

<div class="row">

  <div class="col-md-6">
    <div class="story center-block">
      {{#link-to '2'}}<img src="http://lorempixel.com/output/nature-q-c-301-298-5.jpg" class="img-responsive" />{{/link-to}}
      <h3><span>Moar good vacation spots</span></h3>
    </div>
  </div>

  <div class="col-md-6">
    <div class="story center-block">
      {{#link-to 'sports'}}<img src="http://lorempixel.com/output/sports-q-c-301-298-10.jpg" class="img-responsive" />{{/link-to}}
      <h3><span>Swing that bat!</span></h3>
    </div>
  </div>

</div>
