<div class="row">

  <div class="col-md-6">
    <div class="story">
      {{#link-to '1'}}<img src="http://lorempixel.com/300/300/nature/" class="img-responsive center-block" />{{/link-to}}
      <h3><span>Your Perfect Vacation</span></h3>
    </div>
  </div>

  <div class="col-md-6">
    <div class="story">
      {{#link-to 'food'}}<img src="http://lorempixel.com/300/300/food/" class="img-responsive center-block" />{{/link-to}}
      <h3><span>Good food stuff</span></h3>
    </div>
  </div>
</div>

<br>

<div class="row">

  <div class="col-md-6">
    <div class="story">
      {{#link-to '2'}}<img src="http://lorempixel.com/300/300/nature/" class="img-responsive center-block" />{{/link-to}}
      <h3><span>Moar good vacation spots</span></h3>
    </div>
  </div>

  <div class="col-md-6">
    <div class="story">
      {{#link-to 'sports'}}<img src="http://lorempixel.com/300/300/sports/" class="img-responsive center-block" />{{/link-to}}
      <h3><span>Swing that bat!</span></h3>
    </div>
  </div>

</div>
