<div class="row">
  <div class="col-md-6">

    <div class="story">
      {{#link-to 'vacations'}}<img src="http://lorempixel.com/output/nature-q-c-301-298-2.jpg"/>{{/link-to}}
      <h3><span>Your Perfect Vacation</span></h3>
    </div>

    <br><br>

    <div class="story">
      {{#link-to 'vacations'}}<img src="http://lorempixel.com/output/nature-q-c-301-298-5.jpg"/>{{/link-to}}
      <h3><span>Moar good vacation spots</span></h3>
    </div>

  </div>
  <div class="col-md-6">

    <div class="story">
      {{#link-to 'food'}}<img src="http://lorempixel.com/output/food-q-c-301-298-6.jpg"/>{{/link-to}}
      <h3><span>Good food stuff</span></h3>
    </div>

    <br><br>

    <div class="story">
      {{#link-to 'sports'}}<img src="http://lorempixel.com/output/sports-q-c-301-298-10.jpg"/>{{/link-to}}
      <h3><span>Swing that bat!</span></h3>
    </div>

  </div>
</div>
